

<div class="checkout-cart-total">
    <h2 class="checkout-title">YOUR ORDER</h2>
    <h4>Product <span>Total</span></h4>
    <ul>
        <li><span class="left">Cillum dolore tortor nisl X 01</span> <span class="right">$25.00</span></li>
        <li><span class="left">Auctor gravida pellentesque X 02 </span><span class="right">$50.00</span></li>
        <li>
            <span class="left">Condimentum posuere consectetur X 01</span>
            <span class="right">$29.00</span>
        </li>
        <li>
            <span class="left">Habitasse dictumst elementum X 01</span>
            <span class="right">$10.00</span>
        </li>
    </ul>
    <p>Sub Total <span>$104.00</span></p>
    <p>Shipping Fee <span>$00.00</span></p>
    <h4>Grand Total <span>$104.00</span></h4>
    <div class="method-notice mt--25">
        <article>
            <h3 class="d-none sr-only">blog-article</h3>
            Sorry, it seems that there are no available payment methods for
            your state. Please contact us if you
            require
            assistance
            or wish to make alternate arrangements.
        </article>
    </div>
    <div class="term-block">
        <input type="checkbox" id="accept_terms2">
        <label for="accept_terms2">
            I’ve read and accept the terms &amp;
            conditions
        </label>
    </div>
    <button class="place-order w-100">Place order</button>
</div>
